<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:site_name" content="Vukkybox">
        <meta name="title" content="404">
        <meta name="description" content="<%=lang.couldntbeaccessed%>">
        <meta property="og:image" content="https://raw.githubusercontent.com/Vukkyy/vukmoji/master/emojis/static/vukkyconfused.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("common/nav.ejs", { user }); %>
        <h1 class="text-center align-middle font-mono pt-48"><img class="h-dyn inline-block" src="/resources/Fourkky.webp" alt="Vukky that looks like and represents the number Four"><img class="h-dyn inline-block" src="/resources/eggvukky.webp" alt="Vukky that looks like an egg, representing the number Zero"><img class="h-dyn inline-block" src="/resources/Fourkky.webp" alt="Vukky that looks like and represents the number Four"></h1>
        <p class="text-center align-middle fs-dyn"><%=lang.numkies%></p>
        <a href="/" class="text-center align-middle text-blue-500 fs-dyn"><p><%=lang.gofindothers%></p></a>
        <%- include("common/footer.ejs", { user }); %>
    </body>
</html>