<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("common/nav.ejs", { user }); %>
        <div class="content">
            <div class="m-2 profile-card text-white">
                <img src="<%=flag.imageURL%>" width="64" alt="Flag icon">
                <span><%=lang.flags[flag.langkey].name%></span><br>
                <span><%=lang.flags[flag.langkey].description%></span><br>
                <br>
                <span class="font-bold">Users who have this badge:</span><br>
                <%
                    users.forEach(usr => {
                        let flg = usr.flags.find(flg => flg.flag === flag.id)
                        let flgDate = `<$date:${new Date(flg.date)}>`
                        usr;flg;%><a class="text-blue-500" href="/profile/<%=usr.username%>"><%=usr.username%></a> since <%=flgDate%><%=flg.reason ? ` for ${flg.reason}` : ""%><br><%
                    });
                %>
            </div>
        </div>
        <%- include("common/footer.ejs", { user }); %>
    </body>
</html>