<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="content">
            <%-include("common/nav.ejs", { user }); %>
            <div class="tab-card">
                <div class="tab-bar">
                    <span class="tab tab-selected" id="t0" onclick="tab(this.id)">
                        Friends
                    </span>
                    <span class="tab" id="t1" onclick="tab(this.id)">
                        <%-include("common/friendCountToIcon.ejs", {count: friendships.filter(friendship => friendship.ship.state === 1).length})%> Requests
                    </span>
                </div>
                <%
                let pFriends = friendships.filter(fs => fs.ship.state === 1);
                let aFriends = friendships.filter(fs => fs.ship.state === 2);
                %>
                <div class="m-2 tab-content" id="t0-content">
                    <%
                    aFriends.forEach(friendship => {
						friendship;
						%><%-include("common/friendCard.ejs", { friend: friendship.friend, friendship: friendship.ship })%><br><%
                    })
                    %>

                    </div>
                <div class="m-2 tab-content hidden" id="t1-content">
                    <%
                    pFriends.forEach(friendship => {
                        friendship;
                    %><%-include("common/friendCard.ejs", { friend: friendship.friend, friendship: friendship.ship })%><br><%
                    })
                    %>
                    </div>
            </div>
        </div>
        <script>
	        function tab(newTab) {
		        document.querySelectorAll(".tab-selected").forEach(el => {
			        el.classList.remove("tab-selected");
		        })
		        document.querySelectorAll(".tab-content").forEach(el => {
			        el.classList.add("hidden");
		        })
		        document.getElementById(newTab).classList.add("tab-selected");
		        document.getElementById(`${newTab}-content`).classList.remove("hidden");
	        }

	        function accept(id) {
		        fetch("/api/v1/friendship/accept", {
			        method: "POST",
			        headers: {
				        "Content-Type": "application/json"
			        },
			        body: JSON.stringify({
				        requestId: id
			        })
		        }).then(() => {
			        window.location.reload();
		        })
	        }

	        function reject(id) {
		        fetch("/api/v1/friendship/reject", {
			        method: "POST",
			        headers: {
				        "Content-Type": "application/json"
			        },
			        body: JSON.stringify({
				        requestId: id
			        })
		        }).then(() => {
			        window.location.reload();
		        })
	        }

	        function unfriend(id) {
		        fetch("/api/v1/friendship/remove", {
			        method: "POST",
			        headers: {
				        "Content-Type": "application/json"
			        },
			        body: JSON.stringify({
				        requestId: id
			        })
		        }).then(() => {
			        window.location.reload();
		        })
	        }
        </script>
        <%-include("common/footer.ejs", { user }); %>
    </body>
</html>