<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%-include("common/nav.ejs", { user }); %>
        <%
            let vukkyAmount = vukkies.vukkies.length;
        %>
        <div class="content">
            this is the vukkybocs game<br>
            here we collect funny (mostly) blue characters<br>
            there are <%=vukkyAmount%> of them!! theyre super cute (mostly)<br>
            they come from lootboxes which you can get from the <a href="/store" class="text-blue-600">shop</a><br>
            theres also <a href="/profile/Seltzer_made_of_trash" class="text-blue-600">cool profile pages</a><br>
            you can also <a href="/404" class="text-blue-600">trade</a> with other people... I lied its not implemented yet<br>
            <br>
            <br>
            <img src="<%=vukkies.vukkies.find(vukky => vukky.id === 2).imageURL%>" alt="A happy vukky" />
            <img src="<%=vukkies.vukkies.find(vukky => vukky.id === 1).imageURL%>" alt="A vukky" />
            <img src="<%=vukkies.vukkies.find(vukky => vukky.id === 5).imageURL%>" alt="A dead vukky" />
        </div>
        <%-include("common/footer.ejs", { user }); %>
    </body>
</html>