<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("common/nav.ejs", { user }); %>
        <div class="content">
            <div id="page1">
                <button onclick="disablemfa()" class="btn-red"><%=lang.mfa.disableButton%></button>
            </div>
            <div id="page2" class="hidden">
                <p><%=lang.mfa.youdidntit%></p>
            </div>
        </div>
        <script>
            function disablemfa() {
                fetch("/mfa/disable", { method: "POST", headers: { "Content-Type": "application/json" }, body: JSON.stringify({}) })
                    .then(res => res.json())
                    .then(res => {
                        if (res.success) {
							document.getElementById("page1").classList.add("hidden");
                            document.getElementById("page2").classList.remove("hidden");
                        } else {
                            alert("error");
                        }
                    });
            }
        </script>
        <%- include("common/footer.ejs", { user }); %>
    </body>
</html>