<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("common/nav.ejs", { user }); %>
        <div class="content">
            <div id="page1">
                <p class="m-2"><%=lang.mfa.enableIntro%></p>
                <button class="btn-green m-2" onclick="page2()"><%=lang.next%></button>
            </div>
            <div id="page2" class="hidden m-2">
                <p><%=lang.mfa.enableHow%></p>
                <img id="qrcode" alt="" src="">
                <form id="validationForm">
                    <label>
                        <%=lang.mfa.inputCode %>
                    <input type="text" class="mfa-box input-box" maxlength="6" minlength="6" autocomplete="off" name="token" placeholder="123 456" oninput="validateInput(this)" required/>
                    </label>
                    <p class="text-red-500" id="error"></p>
                    <input type="submit" value="<%=lang.submit %>" disabled>
                </form>
            </div>
            <div id="success" class="hidden">
                <p><%=lang.mfa.youdidit%></p>
                <br>
                <a class="text-blue-500" href="/store">Continue</a>
            </div>
        </div>
        <script>
            document.getElementById("validationForm").onsubmit = (e) => {
	            e.preventDefault();
	            fetch("/mfa/verify", {
		            method: "POST",
		            headers: {
			            "Content-Type": "application/json"
		            },
		            body: JSON.stringify({
			            token: document.querySelector("input[name=token]").value
		            })
	            }).then(res => {
		            if (res.status === 500) {
			            document.getElementById("error").innerHTML = "<%=lang.e500 %>";
			            return { exit: true }
		            }
		            if (res.headers.get("Content-Type").split(";")[0] === "application/json") return res.json()
		            document.getElementById("error").innerHTML = "<%=lang.mfa.serverdown %>";
		            return { exit: true }
	            }).then(res => {
		            if (res?.exit) return;
		            if (res?.valid) {
						document.getElementById("page2").classList.add("hidden");
						document.getElementById("success").classList.remove("hidden");
		            } else {
			            document.querySelector("input[name=token]").value = "";
			            document.querySelector("input[name=token]").style.border = "1px solid red";
			            document.getElementById("error").innerHTML = "<%=lang.mfa.invalidCode %>";
		            }
	            })
            }

            function page2() {
				document.getElementById("page1").classList.add("hidden");
				document.getElementById("page2").classList.remove("hidden");
				fetch("/mfa/enable", {
					method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({})
                }).then(res => res.json()).then(data => {
					document.getElementById("qrcode").src = data.qr;
					document.getElementById("qrcode").alt = data.secret;
                });
            }

            function validateInput(input) {
	            let numbersOnly = /[^0-9]+/g;
	            input.value = input.value.replaceAll(numbersOnly, "");
	            if (input.value.length === 6) {
		            document.querySelector("input[type=submit]").disabled = false;
		            input.style.border = "";
		            document.getElementById("error").innerHTML = "";
	            } else {
		            document.querySelector("input[type=submit]").disabled = true;
	            }
            }
        </script>
        <%- include("common/footer.ejs", { user }); %>
    </body>
</html>