<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("common/nav.ejs", { user }); %>
        <h1>Opening <%=boxes.filter(box => box.id === parseInt(boxId))[0].name%></h1>
        <div class="hidden" id="vukkyData">
            <%- include("common/vukky.ejs"); %>
        </div>
        <br>
        <button onclick="openBox()">Open</button>
        <%- include("common/footer.ejs", { user }); %>
        <script>
            function openBox() {
	            document.getElementById("vukkyData").classList.add("hidden");
	            fetch("/api/internal/open/<%=boxId%>")
		            .then(res => res.json())
		            .then(data => {
						if (data.error) {
							return alert(data.error);
                        }
			            document.getElementById("vukkyName").innerHTML = data.name;
						document.getElementById("vukkyImage").src = data.imageURL;
			            document.getElementById("vukkyRarity").innerHTML = data.rarity;
			            document.getElementById("vukkyCreator").innerHTML = `Created by ${data.creator ? data.creator : "Unknown"}`;
			            document.getElementById("vukkyDescription").innerHTML = data.description;
			            document.getElementById("vukkyData").classList.remove("hidden");
		            });
            }
			openBox();
        </script>
    </body>
</html>