<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("common/nav.ejs", { user }); %>
        <div class="content">
            <table class="bg-gray-600 rounded-lg mx-auto my-5">
                <tr>
                    <td class="p-2">
                        <img alt="<%=puser.username%>'s profile picture" src="https://auth.litdevs.org/api/avatar/bg/<%=puser.litauthId%>" class="rounded-full w-32 h-32">
                    </td>
                    <td class="p-2 text-white">
                        <p><%=puser.username%></p>
                    </td>
                </tr>
            </table>
        </div>
        <%- include("common/footer.ejs", { user }); %>
    </body>
</html>