<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <%if (puser?.profile?.css && puser?.profile?.css?.length > 0) { %>
            <style>
                <%-puser.profile.css %>
            </style>
        <% } %>
    </head>
    <body>
        <div class="content" <% if (puser.profile.background.mode === "image") { %> style="background-image: url('<%=puser.profile.background.image%>')" <% } %>
                <% if (puser.profile.background.mode === "color") { %> style="background-color: <%=puser.profile.background.color%>" <% } %>
        >
            <%- include("common/nav.ejs", { user }); %>
            <!--Edit mode is enabled? <%=editMode%>-->
            <% if (puser._id.equals(user?._id)) { %>
                <% if (editMode) { %>
                    <input type="hidden" id="_csrf" value="<%=csrfToken%>">
                    <a onclick="updateProfile()"><i class="fa-solid m-2 text-2xl fa-check cursor-pointer hover:text-gray-700"></i></a>
                    <i class="m-2 text-2xl fa-solid fa-window-maximize cursor-pointer" onclick="backgroundEditor()"></i>
                    <i class="fa-solid fa-code m-2 text-2xl cursor-pointer" onclick="cssEditor()"></i>
                <% } else { %>
                    <a href="?editmode"><i class="fa-solid m-2 text-2xl fa-pen-to-square cursor-pointer hover:text-gray-700"></i></a>
                <% } %>
            <% }%>
            <div class="profile-card" id="profile-card">
                <%
                    let cardOrder = {
						"0": include("common/profile/profilecard.ejs", { puser }),
                        "1": include("common/profile/trophycase.ejs", { puser })
                    }
					let order = Object.keys(cardOrder);
					if (puser.profile.order.length > 0) order = puser.profile.order
					order.forEach(card => {
						%><%- cardOrder[card] %><%
                    })
                %>
            </div>
            <%if (editMode) { %>
                <div class="hidden profile-card" id="bg-editor">
                    <label class="text-white">
                        <%=lang.profile.bgmode %>
                        <select class="text-black" onchange="changeBgMode(this.value)">
                            <option value="color" <%if(puser.profile.background.mode === "color") { %> selected <% } %> ><%=lang.profile.bgmode0%></option>
                            <option value="random" <%if(puser.profile.background.mode === "random") { %> selected <% } %>><%=lang.profile.bgmode1%></option>
                            <option value="image" <%if(puser.profile.background.mode === "image") { %> selected <% } %>><%=lang.profile.bgmode2%></option>
                        </select>
                    </label><br><br>
                    <div id="bg-editor-color" <%if(puser.profile.background.mode !== "color") { %> class="hidden" <% } %>>
                        <label class="text-white">
                            Select background color:
                            <input <% if(puser.profile.background.color) { %>value="<%=puser.profile.background.color%>"<% } %> type="color" oninput="document.querySelector('.content').style.backgroundColor = this.value;" id="bgColor">
                        </label>
                    </div>
                    <div id="bg-editor-random" <%if(puser.profile.background.mode !== "random") { %> class="hidden" <% } %>>
                        <p class="text-white">The profile page background will be randomly selected.</p>
                    </div>
                    <div id="bg-editor-image" <%if(puser.profile.background.mode !== "image") { %> class="hidden" <% } %>>
                        <label class="text-white">
                            Enter URL of image:
                            <input <% if(puser.profile.background.image) { %>value="<%=puser.profile.background.image%>"<% } %> type="url" class="text-black" placeholder="https://example.com/image.jpg" oninput="bgImage = this.value" id="bgImage">
                        </label>
                    </div>
                    <input type="submit" class="btn" value="<%=lang.submit%>" onclick="submitBg()">
                </div>
                <div class="hidden profile-card" id="css-editor">
                    <label for="css-editor-textarea" class="text-white"><%-lang.profile.turbonerd%></label>
                    <textarea id="css-editor-textarea" class="w-full bg-gray-800 text-white rounded-lg p-1" rows="4" placeholder="CSS code goes here..."><% if(puser.profile.css && puser.profile.css.length > 0) { %><%=puser.profile.css%><% } %></textarea>
                    <input type="submit" class="btn" value="<%=lang.submit%>" onclick="submitCSS()">
                </div>
            <% } %>
        </div>
        <%- include("common/footer.ejs", { user }); %>
    </body>
    <% if (editMode) { %>
        <script>
            let order = JSON.parse('<%-JSON.stringify(puser.profile.order)%>')
            if (order.length === 0) order = ["0", "1", "2"]
        </script>
        <script src="/js/profile.js"></script>
    <% } %>
</html>