<%
 let fVukky = vukkies.vukkies.find(vukky => vukky.id === puser.profile?.favoriteVukky)
 if (!fVukky) fVukky = vukkies.vukkies.find(vukky => vukky.name.toLowerCase().includes("missing"))
 %>
<div <% if (editMode) { %>draggable="true"<% } %> id="2" class="favorite-vukky-container w-full">
    <table class="mx-auto favorite-vukky-container-table">
        <% if (editMode) { %>
            <i class="fa-solid fa-grip text-gray-400"></i>
            <i class="fa-solid fa-trash-can text-gray-400 cursor-pointer ml-2" onclick="deleteCard('3')"></i>
        <% } %>
        <tr>
            <td class="w-72 text-white">
                <span class="font-semibold">Favorite Vukky</span>
                <br>
                <p><%=fVukky.name%></p>
                <p style="color: <%=rarity[fVukky.rarity].color%>"><%=lang.vukkies[fVukky.rarity]%></p>
                <br>
                <p><%=fVukky.description%></p>
            </td>
            <td class="p-2 text-center favorite-vukky">
                <% if (editMode) { %>
                    <select id="favoriteVukkySelector">
                        <%
                            vukkies.vukkies.forEach(vukky => {
                                if (!Object.keys(puser.playerData.collection).includes(vukky.id.toString())) return;
                                %><option value="<%=vukky.id%>"><%=vukky.name%></option><%
                            })
                        %>
                    </select>
                <% } else { %>
                    <div>
                        <img class="bg-gray-400 p-2 rounded-lg border-4 w-56" style="border-color: <%=rarity[fVukky.rarity].color%>" src="<%=fVukky.imageURL%>" alt="<%=fVukky.name%>">
                    </div>
                <% } %>
            </td>
        </tr>
    </table>
</div>