<% if (flags[flag.flag]) { %>
    <% if (adminMode) {%>
        <i class="fa-solid fa-trash-can text-red-500 p-2 hover:bg-gray-400 rounded-lg" onclick="deleteFlag(<%=flag.flag%>)" title="Remove the <%=lang.flags[flags[flag.flag].langkey].name%>"></i>
    <% } %>
    <a href="/flag/<%=flag.flag%>"><div class="flag" id="f<%=flag.flag%>">
        <img class="flag-image" src="<%=flags[flag.flag].imageURL %>" alt="<%=lang.flags[flags[flag.flag].langkey].name%> flag image">
        <span class="flag-name"><%=lang.flags[flags[flag.flag].langkey].name%><%=user?.flags?.some(flg => flg.flag === 0) ? ` (${flag.flag})` : ""%></span>
    </div></a>
    <script>
        tippy('#f<%=flag.flag %>', {
            content: `<%=lang.flags[flags[flag.flag].langkey].description%><%-`${flag.reason ? "<br><span>" + flag.reason + "</span>" : ""}` %><br><span class="text-gray-400"><%=flag.date.toLocaleString(lang.lang)%></span>`,
            placement: 'bottom',
            allowHTML: true
        });
    </script>
<% } %>