<div <% if (editMode) { %>draggable="true"<% } %> id="0">
    <table class="mx-auto">
        <% if (editMode) { %>
            <i class="fa-solid fa-grip text-gray-400"></i>
            <i class="fa-solid fa-trash-can text-gray-400 cursor-pointer ml-2" onclick="deleteCard('0')"></i>
        <% } %>
        <tr>
            <td class="p-2">
                <% if (editMode) { %>
                <div style="display: grid;place-items: center;grid-template-areas: 'inner-div';" class="h-full w-full">
                    <div style="grid-area: inner-div;" class="hover-cover">
                        <a href="https://auth.litdevs.org/designer" class="text-white text-4xl mx-auto"><i class="fa-solid fa-pen "></i></a>
                    </div>
                    <div style="grid-area: inner-div;" class="avatar-container">
                        <% } %>
                        <img alt="<%=puser.username%>'s profile picture" src="https://auth.litdevs.org/api/avatar/bg/<%=puser.litauthId%>" class="avatar rounded-full w-32 h-32">
                        <% if (editMode) { %>
                    </div>
                </div>
                <% } %>
            </td>
            <td class="p-2 text-white">
                <p class="username"><%=puser.username%></p>
                <% if(user && !user._id.equals(puser._id)) { %>
                    <span class="cursor-pointer rounded-md border-2 p-0.5 hover:border-red-400 hover:text-red-400 transition-all"
                    onclick="document.getElementById('heart2').classList.replace('fa-heart', 'fa-hand-holding-heart');document.getElementById('heart2').classList.replace('fa-regular', 'fa-solid');this.innerHTML = this.innerHTML.replace('Friend', 'Request sent!')"
                    >Friend <i id="heart2" class="fa-regular fa-heart"></i></span><br><br>
                    <span class="cursor-pointer rounded-md border-2 border-red-500 p-0.5 text-red-500"
                          onmouseenter="document.getElementById('heart').classList.replace('fa-heart', 'fa-heart-crack');this.innerHTML = this.innerHTML.replace('Friended', 'Unfriend?')"
                          onmouseleave="document.getElementById('heart').classList.replace('fa-heart-crack', 'fa-heart');this.innerHTML = this.innerHTML.replace('Unfriend?', 'Friended')">
                        Friended <i id="heart" class="fa-solid fa-heart"></i>
                    </span>
                <% } %>
                <br>
                <a class="text-blue-500" href="/collection?user=<%=puser._id%>"><%=lang.viewCollection%></a>
            </td>
        </tr>
    </table>
</div>