<div class="flex-shrink-0 w-full bottom-0 bg-[#1f2937] text-[#83888f]">
    <img alt="flashing 'web design is my passion' sign" class="inline" src="/design.gif" onclick="alert('This site is NOT powered by Neocities.\nI just stole the gif.')">
    <a class="text-sm underline" href="/terms"><%=lang.footer.terms %></a>
    <a class="text-sm underline" href="/privacy"><%=lang.footer.privacy %></a>
    <a class="text-sm underline" href="/credits"><%=lang.footer.credits %></a>
    <a class="text-sm underline" href="mailto:contact@litdevs.org"><%=lang.footer.contact %></a>
    <a class="text-sm underline" href="https://litdevs.org"><%=lang.footer.about %></a>
</div>
<script defer>
	// DONE - Use data formatting in notifications
    // DONE - Fix date formatter to not break EVERYTHING
	// Loop through each date formatter match <$date:Sun Oct 03 2022 14:53:15 GMT+0300 (Eastern European Summer Time)>
	replaceInText(document.body, dateFormatterRegex, (match) => {
		// Isolate the date portion of the match
        console.log("Date formatter match: " + match)
		let date = new Date(match.split("<$date:")[1].split(">")[0]);
		// return formatted date
		return `${date.toLocaleString("<%=lang.lang %>")}`
	});

	// Thank you random stackoverflow answer S2 <-- that's a heart
    // https://stackoverflow.com/a/50537862/9342273
	function replaceInText(element, pattern, replacement) {
		for (let node of element.childNodes) {
			switch (node.nodeType) {
				case Node.ELEMENT_NODE:
					replaceInText(node, pattern, replacement);
					break;
				case Node.TEXT_NODE:
					node.textContent = node.textContent.replace(pattern, replacement);
					break;
				case Node.DOCUMENT_NODE:
					replaceInText(node, pattern, replacement);
			}
		}
	}
</script>
