<!--suppress ALL -->
<script src="https://kit.fontawesome.com/303d8b79a7.js" crossorigin="anonymous"></script>
<script>
	function setCookie(cname, cvalue, exdays) {
		const d = new Date();
		d.setTime(d.getTime() + (exdays*24*60*60*1000));
		let expires = "expires="+ d.toUTCString();
		document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	}
	function getCookie(cname) {
		let name = cname + "=";
		let decodedCookie = decodeURIComponent(document.cookie);
		let ca = decodedCookie.split(';');
		for(let i = 0; i <ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			}
			if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
	const dateFormatterRegex = /<\$date:[a-zA-Z0-9 :+()]+>/gm
</script>

<div class="nav">
    <div>
        <a href="/" alt="Homepage"><img src="/resources/icons/512.png" alt="A Vukky inside a cardboard box" class="w-12 inline"></a>
        <% if (user) { %>
        <span><a href="/balance"><span id="balance"><%=user.playerData.balance%></span> Vukkybux</a></span>
        <% } %>
        <% if (pseudoMode) { %>
        <a href="/admin/pseudoModeExit"><span class="text-red-500">PSEUDO MODE CLICK HERE TO EXIT</span></a>
        <% } %>
    </div>
    <% if (user) { %>
    <div>
        <a href="/promo" class="nav-button">
            <i class="fa-solid fa-ticket"></i>
        </a>
        <a href="/settings" class="nav-button">
            <i class="fa-solid fa-sliders"></i>
        </a>
        <a href="/friends" class="nav-button">
                        <%-include("friendCountToIcon.ejs", {count: pendingFriends, hideZero: true, showRed: true})%>
                        <i class="fa-solid fa-user-group"></i>
        </a>
        <% if (typeof user.playerData.notifications !== "undefined" && user.playerData.notifications.length > 0) { %>
            <span>
                <span class="nav-button" onclick="toggleNotificationDropdown()">
                    <%-include("countToIcon.ejs", { count: user.playerData.notifications.length })%>
                    <i class="fa-solid fa-bell"></i>
                </span>
                <div class="bg-gray-600 shadow-lg rounded-lg fixed top-12 right-0 mx-2 my-0.5 hidden" id="notificationDropdown">
                    <div class="p-5">
                        <%
                            let i = 0
                            let sortedNotifs = user.playerData.notifications.sort((a, b) => { return new Date(b.timestamp) - new Date(a.timestamp) })
                            sortedNotifs.forEach(notif => {
								i++;
                                notif;
								if (!(i > 5)) {
								    %><%- include("notification.ejs", { notification: notif }); %><%
                                }
                            });
							if (user.playerData.notifications.length > 5) {
								%><p class="text-center">And <%=user.playerData.notifications.length - 5%> more</p><%
                            }
                        %>
                    </div>
                </div>
            </span>
        <% } else { %>
            <i class="fa-regular fa-bell select-none"></i>
        <% } %>
        <span class="nav-user">
            <a href="/profile/<%=user.username %>">
                <i class="fa-solid fa-user mr-1"></i>
                <%=user.username %>

                <% if (user.flags.some(flag => flag.flag === 0)) { %>
                    <a href="/admin"><img src="/flags/litdev.svg" class="inline w-8 h-8" alt="Admin icon"></a>
                <% } %>
            </a>
        </span>

    </div>
    <% } else { %>
        <a href="/auth/oauth" class="nav-login"><i class="fa-solid fa-key mr-1"></i>Login</a>
    <% } %>
</div>

<% if(user) { %>
<script>
	function toggleNotificationDropdown() {
		document.getElementById("notificationDropdown").classList.toggle("hidden");
	}
	function markRead(idToMark) {
		fetch('/api/v1/notifications/read', {
			method: "POST",
            headers: {
				"Content-Type": "application/json"
            },
            body: JSON.stringify({
	            readNotifications: [idToMark]
            })
        })
    }
</script>
<% } %>