<div class="notification<%=notification.read ? " notification-read" : ""%> cursor-pointer" id="<%=notification.id%>"
     onclick="this.classList.add('notification-read');markRead('<%=notification.id %>');this.classList.remove('cursor-pointer')">
    <table>
        <tr>
            <% if (notification.image) { %>
                <td class="w-1/5">
                    <img src="<%=notification.image %>" alt="">
                </td>
            <% } %>
            <td class="w-4/5">
                <p class="font-bold"><%=notification.title %> <span class="text-gray-500 font-normal"><%=`<$date:${new Date(notification.timestamp)}>`%></span></p>
                <p class="line-clamp-2 break-words cursor-pointer" onclick="this.classList.remove('line-clamp-2');this.classList.remove('cursor-pointer');"><%=notification.body %></p>
            </td>
        </tr>
    </table>
</div>