<div class="vukkyCard" <%-typeof vukky !== "undefined" ? `style="border-color: ${vukkies.levels[vukky.rarity].color}"` : "" %>>
    <h1 id="vukkyName"><%-typeof vukky !== "undefined" ? `${vukky.name} #${vukky.id}${vukky.duplicateCount > 1 ? ` (${vukky.duplicateCount})` : ""}` : ""%></h1>
    <img id="vukkyImage" class="mx-auto" src="<%=typeof vukky !== "undefined" ? vukky.imageURL : ""%>" alt="">
    <span id="vukkyRarity"><%=typeof vukky !== "undefined" ? lang.vukkies[vukky.rarity] : ""%></span><br>
    <span id="vukkyCreator"><%=typeof vukky !== "undefined" ? vukky.creator ? `Created by ${vukky.creator}` : "" : ""%></span><br>
    <span id="vukkyDescription"><%-typeof vukky !== "undefined" ? vukky.description : ""%></span>
</div>